.ant-table-thead > tr > th {
  background-color: rgba(252, 226, 211, 1) !important; 
  color: rgba(242, 110, 33, 1) !important; 
  font-weight: bold;
  text-align: center;
}
.ant-table-pagination {
  display: flex;
  justify-content: center;
}
        